<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Students add</h1>
    <hr>
    <a class="btn btn-dark" href="{{ url_for('students') }}">Return to students</a>
    <hr>
    {% if information %}
    <div class="alert alert-dark" role="alert">
    {{ information }}
    </div>
    {% endif %}
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" name="first_name" />
      </div>
      <div class="mb-3">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" name="last_name" />
      </div>
      <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="text" class="form-control" name="age" />
      </div>
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input type="text" class="form-control" name="country" />
      </div>
      <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" name="city" />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>